<div class="input-group">
  <span title='Update this service' class="input-group-addon glyphicon glyphicon-refresh"></span>
  <%= button_tag "Update Service", class:'form-control btn btn-primary' %>
</div>