<div class="input-group">
  <span title='Create Service' class="input-group-addon glyphicon glyphicon-ok"></span>
  <%= button_tag "Create Service", class:'form-control btn btn-primary create-service' %>
</div>