<div class="input-group input-group-lg">
  <span title='Update this appointment' class="input-group-addon glyphicon glyphicon-refresh"></span>
  <%= button_tag "Update Appointment", class:'form-control btn btn-primary' %>
</div>