<div class="input-group">
  <span title='Create a new appointment' class="input-group-addon glyphicon glyphicon-refresh"></span>
  <%= button_tag "Create Appointment", class:'form-control btn btn-primary create-appointment' %>
</div>