<div class=" well well-lg service-list">
  <h1 class='text-center text-info'>Listing appointments</h1>
  
  <div class="panel panel-info">
    <div class='panel-body '>
    <table class="table table-stripped table-hover" id="appointments_table">
      <thead class='text-info'>
        <tr>
          <th>Date</th>
          <th>Status</th>
          <th>User</th>
          <th>Service</th>
        </tr>
      </thead>
      <tbody>
        <% policy_scope(@appointments).each do |appointment| %>
          <%= render partial: 'table_row', locals:{ appointment: appointment } %>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
  <h2><%= link_to 'New Appointment', '#new_appointment_modal', 'data-toggle'=>'modal', class:'btn btn-primary btn-lg pull-right', id:'new_appointment_link' %></h2>
</div>


<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_appointment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog panel well signin panel-default">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class='text-info text-center' id="myModalLabel">New Appointment</h1>
      </div>

        <div id='help-block'>

        </div>

      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
        <%= render 'form', modal: true %>
      </div>

    </div>
  </div>
</div>